{% extends "base.html" %}
{% block title %} Page - {{ title }} {% endblock %}
{% block content %}

<div class="min-h-full">
    {% include "navbar.html" %}
<div class="m-10 max-w-max mx-auto relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="p-4">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mt-1">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
        </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    Имя
                </th>
                <th scope="col" class="px-6 py-3">
                    Роли
                </th>
                <th scope="col" class="px-6 py-3">
                    Подтвержден
                </th>
                <th scope="col" class="px-6 py-3">
                    Доступы
                </th>
                <th scope="col" class="px-6 py-3">
                    Последний онлайн
                </th>
                <th scope="col" class="px-6 py-3">
                    Статус
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                    {{user.id}}
                </td>
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap flex flex-wrap">
                    <img src="{{user.user_pic}}" class="h-12 mr-5 rounded-full">
                    <div>
                        <div class="text-lg" >{{user.name}} ({{user.username}})</div>
                        <div>{{user.mail}}</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    {{user.role}}
                </td>
                <td class="px-6 py-4">
                    {% if user.confirmed %}
                    <div class="w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></div><span>Подтвержден</span>
                    {% else %}
                    <div class="w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></div><span>Не подтвержден</span>
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    <button data-id="{{user.id}}" type="button" class="perm-edit px-3 py-2 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><i class="las la-edit"></i></button>
                </td>
                <td class="px-6 py-4">
                    {{user.last_online}}
                </td>
                <td class="px-6 py-4">
                    {% if user.is_active %}
                    <div class="w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"> </div>Активный
                    {% else %}
                    <div class="w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"> </div>Неактивен
                    {% endif %}
                </td>
                <td class="px-6 py-4 text-right">
                    <button type="button" class="px-3 py-2 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><i class="las la-edit"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $('.perm-edit').click(function() {
            let uid = $(this).data('id')
            window.open('/permissions_edit?id='+uid, target="_self")
        });
    </script>
</div>
</div>
{% include "footer.html" %}
{% endblock %}
