{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<link rel="stylesheet" href="static/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="static/richtexteditor/rte.js"></script>
<script type="text/javascript" src='static/richtexteditor/plugins/all_plugins.js'></script>

<div class="min-h-full">
    {% include "navbar.html" %}

    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-gray-900">Новая запись</h1>
        </div>
    </header>
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <form action="{{ request.path }}" method="POST">
                <div class="form-group">
                    {{ form.heading.label(class_='label mx-3 text-lg') }}
                    <p class="control mx-3">
                        {{ form.heading(class_="input rounded-md w-full px-1") }}
                    </p>
                </div>

                <div class="form-group">
                    {{ form.post.label(class_='label mx-3 text-lg') }}
                    <p class="control mx-3">
                        {{ form.post(rows=26) }}
                    </p>
                </div>

                <div class="form-group">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn float-right mx-3 mt-4"> Опубликовать </button>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                var editor1 = new RichTextEditor("#post");
            </script>
        </div>
    </main>
</div>


{% endblock %}