{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<link rel="stylesheet" href="static/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="static/richtexteditor/rte.js"></script>
<script type="text/javascript" src='static/richtexteditor/plugins/all_plugins.js'></script>
<meta data-action="{{action}}">

<div class="min-h-full">
    {% include "navbar.html" %}

    <header class="bg-white dark:bg-slate-700 shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between">
            <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-200">{{title}}</h1>
            {% if action == 'edit' %}
            <button type="button" data-modal-toggle="versionModal" id="version-btn"
                class="h-7 w-7 rounded-lg bg-green-600 hover:bg-green-700 text-white align-middle"
                title="Предыдущие версии"><i class="las la-history"></i></button>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <form action="{{ request.path }}" method="POST">
                <div class="form-group">
                    {{ form.heading.label(class_='label mx-3 text-lg') }}
                    <p class="control mx-3">
                        {{ form.heading(class_="input rounded-md w-full px-1") }}
                    </p>
                </div>

                <div class="form-group">
                    {{ form.space.label(class_='label mx-3 text-lg') }}
                    <p class="control mx-3">
                        {{ form.space(class_="input rounded-md w-full px-1") }}
                    </p>
                </div>

                <div class="form-group">
                    {{ form.parent.label(class_='label mx-3 text-lg') }}
                    <p class="control mx-3">
                        {{ form.parent(class_="input rounded-md w-full px-1") }}
                    </p>
                </div>

                <div class="form-group">
                    {{ form.post.label(class_='label mx-3 text-lg') }}
                    <p class="control mx-3">
                        {{ form.post(rows=26) }}
                    </p>
                </div>

                <div class="form-group">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn float-right mx-3 mt-5 mb-10"> Опубликовать </button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            var editor1 = new RichTextEditor("#post");
            let action = $('meta[data-action]').attr('data-action');
            if (action == 'edit') {
                editor1.setHTMLCode(`{{- text|safe -}}`);
            }
        </script>
        <script>
            $(document).ready(function() {
                let space_select = document.getElementById('space');
                console.log(space_select);
                let parent_select = document.getElementById("parent");
                console.log(parent_select);

                space_select.onchange = function() {
                    space = space_select.value;

                    fetch('/tree/' + space).then(function(response) {
                        response.json().then(function(data) {
                            let optionHTML = "<option value=''>Без родителя</option>";

                            for (let page of data) {
                                optionHTML += '<option value="' + page.id + '">' + page.text + '</option>';
                            }
                            console.log(optionHTML)
                            parent_select.innerHTML = optionHTML;
                        });
                    });
                }
            });
        </script>
        <script>
            $(document).ready(function() {
                $('#version-btn').click(function() {

                });
            });
        </script>
    </main>
</div>

{% include "footer.html" %}
<div id="versionModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative px-4 py-2 w-full max-w-4xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Версии страницы
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="versionModal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <div class="px-4 py-1">
                        <label for="table-search" class="sr-only">Search</label>
                        <div class="relative mt-1">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                            </div>
                            <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Не работает в данный момент">
                        </div>
                    </div>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 whitespace-nowrap">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Версия
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Дата изменения
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Редактор
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Превью</span>
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Восстановить</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for version in versions %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                    {{version.version}}
                                </th>
                                <td class="px-6 py-4 w-28">
                                    {{version.time}}
                                </td>
                                <td class="px-6 py-4">
                                    {{version.author}}
                                </td>
                                <td class="px-6 py-4 text-right">
                                    <a href="/preview?id={{version.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Превью</a>
                                </td>
                                <td class="px-6 py-4 text-right">
                                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Восстановить</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}