{% extends "base.html" %}
{% block title%} Fill.in - {{ title }} {% endblock %}
{% block content%}
<meta data-user="{{current_user.username}}">
<div id="content" class="h-full">


    <div class="min-h-full pb-40">
        {% include "navbar.html" %}

        <main class="">
            <div class="max-w-7xl mx-auto pt-6 pb-10 sm:px-6 lg:px-8 flex justify-between">
                <div class="w-full mx-4 jg:mr-10">

                    <table class="table w-full">
                        <!-- head -->
                        <thead>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox" />
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Приоритет</th>
                                <th>Статус</th>
                                <th>Исполнитель</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                            <tr class="border-x-2 rounded {% if task.priority == '1' %} border-blue-300
                            {% elif task.priority == '2' %} border-blue-200
                            {% elif task.priority == '3' %} border-yellow-200
                            {% elif task.priority == '4' %} border-red-300
                            {% elif task.priority == '5' %} border-red-500
                            {% else %} border-red-800
                            {% endif %}">
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox" />
                                    </label>
                                </th>
                                <td>
                                    <div class="flex items-center space-x-3">
                                        {{task.id}}
                                    </div>
                                </td>
                                <td>
                                    {{task.title}}
                                </td>
                                <td class="flex flex-row flex-nowrap items-center">
                                    {% if task.priority == '1' %}
                                        <img src="/static/eagle/lowest.svg" class="h-5 mr-1"> Lowest
                                    {% elif task.priority == '2' %}
                                        <img src="/static/eagle/low.svg" class="h-5 mr-1"> Low
                                    {% elif task.priority == '3' %}
                                        <img src="/static/eagle/medium.svg" class="h-5 mr-1"> Medium
                                    {% elif task.priority == '4' %}
                                        <img src="/static/eagle/high.svg" class="h-5 mr-1"> High
                                    {% elif task.priority == '5' %}
                                        <img src="/static/eagle/highest.svg" class="h-5 mr-1"> Highest
                                    {% else %}
                                        <img src="/static/eagle/blocker.svg" class="h-5 mr-1"> Blocker
                                    {% endif %}
                                </td>
                                <td>
                                    {% if task.status == 1 %}
                                        To do
                                    {% elif task.status == 2 %}
                                        In progress
                                    {% elif task.status == 3 %}
                                        Review
                                    {% elif task.status == 4 %}
                                        Test
                                    {% else %}
                                        Done
                                    {% endif %}
                                </td>
                                <td>
                                    {{task.assignee}}
                                </td>
                                <th>
                                    <button data-task="{{task.id}}" class="task-detail btn btn-ghost btn-xs">details</button>
                                </th>
                            </tr>
                            {% endfor %}
                            <!-- foot -->
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Приоритет</th>
                                <th>Статус</th>
                                <th>Исполнитель</th>
                                <th></th>
                            </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </main>
    <script>
        $('.task-detail').click(function() {
            var tid = $(this).data('task');
            window.open('./eagle/task?id='+tid, target='_self');
        });
    </script>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}