{% extends "base.html" %}
{% block title%} Fill.in - {{ title }} {% endblock %}
{% block content%}
<meta data-user="{{current_user.username}}">
<div id="content" class="h-full">


    {% if current_user.is_authenticated %}

    <div class="min-h-full pb-40">
        {% include "navbar.html" %}

        <!-- <header class="bg-white dark:bg-slate-700 shadow">
            <div class="max-w-7xl mx-auto py-2 lg:py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="!text-[24px] lg:text-3xl font-bold text-gray-900 dark:text-gray-200">Главная</h1>
            </div>
        </header> -->
        <main class="">
            <div class="max-w-7xl mx-auto pt-6 pb-10 sm:px-6 lg:px-8 flex justify-between">
                <div class="w-full mx-4 jg:mr-10">
                    <!-- <label class="text-xl font-bold dark:text-gray-200 ml-4 lg:ml-auto my-2">Пространства</label> -->
                    <div class="container grid max-w-screen-xl gap-3 lg:gap-8 lg:grid-cols-2 lg:grid-rows-2 lg:mt-5">
                        
                    </div>
                </div>  
            </div>
        </main>
        
    </div>
    {% include "footer.html" %}
    <script>
        $(document).ready(function() {
            $("img").each(function() {
                if ($(this).attr('src') == "") {
                    $(this).hide();
                }
            });
        });
    </script>
    <script>
        $('.space-fav-btn').click(function () { 
            let btn = this;
            let sid = $(this).data('fav-id');
            console.log($(this).find('svg').attr('fill'))
            if ($(this).find('svg').attr('fill') == 'none' ) {
                $.ajax({
                    type: "post",
                    url: "/fav?space="+sid+"&action=add",
                    success: function (response) {
                        $(btn).find('svg').attr('fill', '#45818e')
                    }
                });
            } else {
                $.ajax({
                    type: "post",
                    url: "/fav?space="+sid+"&action=remove",
                    success: function (response) {
                        $(btn).find('svg').attr('fill', 'none')
                    }
                });
            }
        });
    </script>
    <script>
        $('[data-obj="space-block"]').each(function() {
            $(this).css('cursor', 'pointer')
            var home = $(this).data('homepage');
            var id = $(this).data('id') + '';
            favList = {{ fav|safe }};
            if ($.inArray(id, favList) >= 0) {
                $(this).find('svg').attr('fill', '#45818e')
            }
            $(this).click(function() {
                url = '/?space='+id;
                window.open(url, target="_self");
            }).find('.space-fav-btn').click(function(e) {
                return false;
            });
        });
    </script>

    {% else %}

    <div class="hero min-h-screen" style="background-image: url(./static/bg.jpg)">
        <div class="hero-overlay bg-opacity-50"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Fill.in - Kind of Confluence</h1>
                <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                    exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                <a class="btn btn-primary" href="{{url_for('login')}}">Sign in</a>
            </div>
        </div>
    </div>

    {% endif %}

</div>
{% if current_user.is_authenticated %}

{% endif %}
{% endblock %}