{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<meta data-user="{{current_user.username}}">
<div id="content" class="h-full">


    {% if current_user.is_authenticated %}

    <div class="min-h-full pb-44">
        {% include "navbar.html" %}

        <header class="bg-white dark:bg-slate-700 shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-200">Главная</h1>
            </div>
        </header>
        <main>
            <div class="max-w-7xl mx-auto pt-6 pb-10 sm:px-6 lg:px-8 flex justify-between">
                <div class="w-full lg:w-6/12 mr-10">
                    <label class="text-xl font-bold dark:text-gray-200 ml-4 lg:ml-auto my-2">Пространства</label>
                    <div class="container grid max-w-screen-xl gap-3 lg:gap-8 lg:grid-cols-2 lg:grid-rows-2 lg:mt-5">
                        {% for space in spaces %}
                        <div tabindex="0" aria-label="card {{space.id}}" data-obj="space-block" data-id="{{space.id}}" data-homepage="{{space.homepage}}" class="focus:outline-none w-full lg:mx-3 bg-white dark:bg-gray-800 p-6 shadow rounded flex-1">
                            <div class="flex items-center">
                                <img src="{{space.image}}" class="w-12 h-12 rounded" />
                                <div class="flex items-start justify-between w-full">
                                    <div class="pl-3 w-full">
                                        <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">{{space.name}}</p>
                                        <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">{{space.members}} участников</p>
                                    </div>
                                    <div role="img" aria-label="bookmark">
                                       <svg  class="focus:outline-none dark:text-white text-gray-800" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.5001 4.66667H17.5001C18.1189 4.66667 18.7124 4.9125 19.15 5.35009C19.5876 5.78767 19.8334 6.38117 19.8334 7V23.3333L14.0001 19.8333L8.16675 23.3333V7C8.16675 6.38117 8.41258 5.78767 8.85017 5.35009C9.28775 4.9125 9.88124 4.66667 10.5001 4.66667Z" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>  
                <div class="w-full lg:w-5/12">
                    <label class="text-xl font-bold dark:text-gray-200 ml-4 lg:ml-auto my-2">Активность</label>
                    <div>In development</div>
                </div>

            </div>
        </main>
        
    </div>
    {% include "footer.html" %}
    <script>
        $(document).ready(function() {
            $("img").each(function() {
                if ($(this).attr('src') == "") {
                    $(this).hide()
                }
            })
        })
    </script>
    <script>
        $('[data-obj="space-block"]').each(function() {
            $(this).css('cursor', 'pointer')
            $(this).click(function() {
                var home = $(this).data('homepage');
                url = './page?id='+home;
                window.open(url, '_self');
            }) 
        })
    </script>

    {% else %}

    <div class="hero min-h-screen" style="background-image: url(https://api.lorem.space/image/house?w=1000&h=800);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Kind of Confluence</h1>
                <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                    exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                <a class="btn btn-primary" href="{{url_for('login')}}">Sign in</a>
            </div>
        </div>
    </div>

    {% endif %}

</div>
{% if current_user.is_authenticated %}

{% endif %}
{% endblock %}