{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center" id="content">


    {% if current_user.is_authenticated %}

    <div class="featured-area">
        <div>Hello world</div>
    </div>

    {% else %}

    <span class="top text-uppercase">Добро пожаловать</span>
    <h1 class="text-uppercase"></h1>
    <a href="{{url_for('login')}}" class="primary-btn d-inline-flex align-items-center">
        <span class="mr-10">SIGN IN</span>
    </a>

    {% endif %}

</div>
{% endblock %}