{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div id="content">


    {% if current_user.is_authenticated %}

    <div class="min-h-full">
        {% include "navbar.html" %}

        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold text-gray-900">Главная</h1>
            </div>
        </header>
        <main>
            <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="px-4 py-6 sm:px-0">
                    <div class="border-4 border-dashed border-gray-200 rounded-lg h-96"></div>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>
    <script>
        function dropdownHandler(element) {
            let single = $(element).closest("div").next();
            $(single).toggleClass("hidden");
        }
    </script>
    {% else %}

    <div class="hero min-h-screen" style="background-image: url(https://api.lorem.space/image/house?w=1000&h=800);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Kind of Confluence</h1>
                <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                    exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                <a class="btn btn-primary" href="{{url_for('login')}}">Sign in</a>
            </div>
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}