<div class="z-10 sticky top-20 bg-white dark:bg-gray-800 overflow-x-hidden border-r-8 border-r-transparent box-border">
    <div class="">
        <div class="w-[25rem] h-[93vh]">
            <nav class="mt-10 px-3 mb-40">
                <div id="jstree">
                </div>
            </nav>
        </div>
    </div>
</div>
<script>
    $(function () {
        let space = $('meta[data-space]').attr('data-space');
        fetch('/tree/' + space).then(function (response) {
            response.json().then(function (data) {
                $('#jstree').jstree({
                    "core": {
                        "data": data,
                        "themes": {
                            'responsive': true,
                            "icons": false
                        },
                        'expand_selected_onload': true,
                    },
                    "plugins": ["wholerow"]
                });
                $('#jstree').on("select_node.jstree", function (e, data) {
                    window.open('./page?id=' + data.node.id, target = '_self');
                });
            });
        });
    });
</script>
<script>
    interact('#sidebar')
        .resizable({
            edges: { top: false, left: false, bottom: false, right: true },
            modifiers: [
                interact.modifiers.restrictSize({
                    min: { width: 100},
                    max: { width: 670}
                })
            ],
            listeners: {
                move: function (event) {
                    let { x, y } = event.target.dataset

                    x = (parseFloat(x) || 0) + event.deltaRect.left


                    Object.assign(event.target.style, {
                        width: `${event.rect.width}px`,

                        transform: `translate(${x}px, 0px)`
                    })

                    Object.assign(event.target.dataset, { x, y })
                }
            }
        })
</script>