{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<link rel="stylesheet" href="/static/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/static/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/static/richtexteditor/plugins/all_plugins.js'></script>
<meta data-action="{{action}}">

<div class="min-h-full pb-40">
    {% include "navbar.html" %}

    <header class="bg-white dark:bg-emerald-800 shadow">
        <div class="max-w-7xl mx-auto py-3 px-4 sm:px-6 lg:px-8 flex justify-between">
            <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-200">{{title}}</h1>
        </div>
    </header>
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <form id="task-create" enctype="multipart/form-data" class="flex justify-center">
                <div class="mb-5 w-7/12 bg-emerald-100 p-4">
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 mb-5 w-full group">
                            <input type="text" name="project" id="project" list="projects"
                                class="block py-1.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="project"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Проект</label>
                            <datalist id="projects">
                                {% for project in project_list %}
                                <option value="{{project.key}}">{{project.name}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="relative z-0 mb-1 w-full group">
                            <input type="text" name="type" id="type" list="types"
                                class="block py-1.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="type"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Тип</label>
                            <datalist id="types">
                                <option>Задача</option>
                                <option>Ошибка</option>
                                <option>Эпик</option>
                                <option>История</option>
                            </datalist>
                        </div>
                    </div>
                    <hr>
                    <div class="relative z-0 mt-2 mb-6 w-full group">
                        <input type="text" name="title" id="title"
                            class="block py-1.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="title"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Тема</label>
                    </div>
                    <div class="relative z-0 mt-2 mb-6 w-full group">
                        <label for="description"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Описание</label>
                        <input type="text" id="description"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required>
                    </div>

                    <div class="relative z-0 mb-6 w-full group">
                        <input type="text" name="priority" id="priority" list="priorities"
                            class="block py-1.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="priority"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                            Приоритет </label>
                        <datalist id="priorities">
                            <option>Lowest</option>
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                            <option>Highest</option>
                            <option>Blocker</option>
                        </datalist>
                    </div>
                    <div class="relative z-0 mb-6 w-full group">
                        <input type="text" name="tags" id="tags"
                            class="block py-1.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " />
                        <label for="tags"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                            Метки </label>
                        <!-- TO DO: Add dynamic tags upload and custom library -->
                    </div>


                    Вложения <div class="flex justify-center items-center w-full mb-4">
                        <label for="dropzone-file"
                            class="flex flex-col justify-center items-center w-full h-32 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div class="flex flex-col justify-center items-center pt-5 pb-6">
                                <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                    </path>
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                        class="font-semibold">Click to upload</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG, GIF, TXT, PDF, DOCX,
                                    XLSX</p>
                            </div>
                            <input id="dropzone-file" type="file" class="hidden" />
                        </label>
                    </div>
                    <div class="relative z-0 mb-6 w-full group">
                        <input type="text" name="assignee" id="assignee"
                            class="block py-1.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="assignee"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                            Исполнитель</label>
                    </div>

                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Создать</button>
                </div>
            </form>
        </div>
        <script>
            var config = { editorResizeMode: "none", toolbar: 'basic' };

            config.file_upload_handler = function (file, callback, optionalIndex, optionalFiles) {
                var uploadhandlerpath = "/upload";

                console.log("upload", file, "to", uploadhandlerpath)

                function append(parent, tagname, csstext) {
                    var tag = parent.ownerDocument.createElement(tagname);
                    if (csstext) tag.style.cssText = csstext;
                    parent.appendChild(tag);
                    return tag;
                }

                var uploadcancelled = false;

                var dialogouter = append(document.body, "div", "display:flex;align-items:center;justify-content:center;z-index:999999;position:fixed;left:0px;top:0px;width:100%;height:100%;background-color:rgba(128,128,128,0.5)");
                var dialoginner = append(dialogouter, "div", "background-color:white;border:solid 1px gray;border-radius:15px;padding:15px;min-width:200px;box-shadow:2px 2px 6px #7777");

                var line1 = append(dialoginner, "div", "text-align:center;font-size:1.2em;margin:0.5em;");
                line1.innerText = "Uploading...";

                var totalsize = file.size;
                var sentsize = 0;

                if (optionalFiles && optionalFiles.length > 1) {
                    totalsize = 0;
                    for (var i = 0; i < optionalFiles.length; i++) {
                        totalsize += optionalFiles[i].size;
                        if (i < optionalIndex) sentsize = totalsize;
                    }
                    console.log(totalsize, optionalIndex, optionalFiles)
                    line1.innerText = "Uploading..." + (optionalIndex + 1) + "/" + optionalFiles.length;
                }

                var line2 = append(dialoginner, "div", "text-align:center;font-size:1.0em;margin:0.5em;");
                line2.innerText = "0%";

                var progressbar = append(dialoginner, "div", "border:solid 1px gray;margin:0.5em;");
                var progressbg = append(progressbar, "div", "height:12px");

                var line3 = append(dialoginner, "div", "text-align:center;font-size:1.0em;margin:0.5em;");
                var btn = append(line3, "button");
                btn.className = "btn btn-primary";
                btn.innerText = "cancel";
                btn.onclick = function () {
                    uploadcancelled = true;
                    xh.abort();
                }

                const formData = new FormData();
                formData.append("file", file)

                var xh = new XMLHttpRequest();
                xh.open("POST", uploadhandlerpath, true);
                xh.onload = xh.onabort = xh.onerror = function (pe) {
                    console.log(pe);
                    console.log(xh);
                    dialogouter.parentNode.removeChild(dialogouter);
                    if (pe.type == "load") {
                        if (xh.status != 200) {
                            console.log("uploaderror", pe);
                            if (xh.responseText.startsWith("ERROR:")) {
                                callback(null, "http-error-" + xh.responseText.substring(6));
                            }
                            else {
                                callback(null, "http-error-" + xh.status);
                            }
                        }
                        else if (xh.responseText.startsWith("READY:")) {
                            console.log("File uploaded to " + xh.responseText.substring(6));
                            callback(xh.responseText.substring(6));
                        }
                        else {
                            callback(null, "http-error-" + xh.responseText);
                        }
                    }
                    else if (uploadcancelled) {
                        console.log("uploadcancelled", pe);
                        callback(null, "cancelled");
                    }
                    else {
                        console.log("uploaderror", pe);
                        callback(null, pe.type);
                    }
                }
                xh.upload.onprogress = function (pe) {
                    console.log(pe);
                    //pe.total
                    var percent = Math.floor(100 * (sentsize + pe.loaded) / totalsize);
                    line2.innerText = percent + "%";

                    progressbg.style.cssText = "background-color:green;width:" + (percent * progressbar.offsetWidth / 100) + "px;height:12px;";
                }
                xh.send(formData);
            }
            var editor1 = new RichTextEditor("#description", config);
            $('.richtexteditor').addClass('max-h-[500px]');

            let action = $('meta[data-action]').attr('data-action');
            if (action == 'edit') {
                editor1.setHTMLCode(`{{- text|safe -}}`);
            }

            $('#task-create').submit(function (e) {
                e.preventDefault();

                var form = $(this);
                let data = {};
                data['project'] = $('#project').val();
                data['type'] = $('#type').val();
                data['title'] = $('#title').val();
                data['description'] = editor1.getHTMLCode();
                data['priority'] = $('#priority').val();
                data['tags'] = $('#tags').val();
                data['attach'] = $('#dropzone-file').val();
                data['assignee'] = $('#assignee').val();
                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: '/api/task',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (data) {
                        alert(data)
                    }
                });
            });
        </script>
    </main>
</div>

{% include "footer.html" %}

{% endblock %}